{% extends 'dashboard/base.html' %}

{% block content %}
    <!-- Atendimento -->
    <div class="card">
        <div class="card-header">
            <i class="material-icons">rate_review</i>
            <h4>Indicadores de Atendimento</h4>
        </div>
        <div class="flexbox">
            <div class="col-md-4">
                <table>
                    <thead>
                        <tr>
                            <th>Chamados Resolvidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table>
                    <thead>
                        <tr>
                            <th>Taxa de Reabertura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table>
                    <thead>
                        <tr>
                            <th>Primeira Resposta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- End Atendimento -->

    <!-- Tempos Médios -->
    <div class="card">
        <div class="card-header">
            <i class="material-icons">schedule</i>
            <h4>Indicadores de Tempo</h4>
        </div>
        <div class="flexbox">
            <div class="col-md-4">
                <table>
                    <thead>
                        <tr>
                            <th>Tempo médio de resolução</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table>
                    <thead>
                        <tr>
                            <th>Tempo médio de espera</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table>
                    <thead>
                        <tr>
                            <th>Tempo médio de atendimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Alexandre Coimbra</td>
                            <td>200</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--  End Tempos Médios -->

    <!-- Satisfação -->
    <div class="flexbox space-between">
        <!-- Good -->
        <div class="card card-double">
            <div class="card-header">
                <i class="material-icons">thumb_up</i>
                <h4>Avaliados como Bom</h4>
            </div>
            <div class="flexbox">
                <div class="col-md-6">
                    <table>
                        <thead>
                            <tr>
                                <th>Analista</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table>
                        <thead>
                            <tr>
                                <th>Solução</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Good -->

        <!-- Bad -->
        <div class="card card-double">
            <div class="card-header">
                <i class="material-icons">thumb_down</i>
                <h4>Avaliados como Ruim</h4>
            </div>
            <div class="flexbox">
                <div class="col-md-6">
                    <table>
                        <thead>
                            <tr>
                                <th>Analista</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table>
                        <thead>
                            <tr>
                                <th>Solução</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Alexandre Coimbra</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Bad -->
    </div>
    <!-- End Satisfação -->
{% endblock %}
